<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>controller.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DescriptionController</servlet-name>
        <servlet-class>controller.DescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>controller.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>controller.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderController</servlet-name>
        <servlet-class>controller.ViewOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderController</servlet-name>
        <servlet-class>controller.DeleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>controller.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByCatesController</servlet-name>
        <servlet-class>controller.SearchByCatesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListController</servlet-name>
        <servlet-class>controller.AdminListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>controller.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>controller.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByBrand</servlet-name>
        <servlet-class>controller.SearchByBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasedRequiredAuthenController</servlet-name>
        <servlet-class>controller.BasedRequiredAuthenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDetailController</servlet-name>
        <servlet-class>controller.AdminDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCartController</servlet-name>
        <servlet-class>controller.UserCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlusCartController</servlet-name>
        <servlet-class>controller.PlusCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MinusCartController</servlet-name>
        <servlet-class>controller.MinusCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>controller.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipListController</servlet-name>
        <servlet-class>controller.ShipListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipDetailController</servlet-name>
        <servlet-class>controller.ShipDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DescriptionController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderController</servlet-name>
        <url-pattern>/viewOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/detailOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByCatesController</servlet-name>
        <url-pattern>/list1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListController</servlet-name>
        <url-pattern>/admin/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/admin/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/admin/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/admin/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByBrand</servlet-name>
        <url-pattern>/bybrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasedRequiredAuthenController</servlet-name>
        <url-pattern>/BasedRequiredAuthenController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDetailController</servlet-name>
        <url-pattern>/admin/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlusCartController</servlet-name>
        <url-pattern>/pluscart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MinusCartController</servlet-name>
        <url-pattern>/minuscart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipListController</servlet-name>
        <url-pattern>/shiplist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipDetailController</servlet-name>
        <url-pattern>/shipdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            360000
        </session-timeout>
    </session-config>
</web-app>
